@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

h1, h2 {
  transition: color 0.3s ease;
}

@media (max-width: 640px) {
  .App {
    padding: 1rem;
  }
  h1 {
    font-size: 2rem; 
  }
}
